API_KEY=change-me-node-api-key
NODE_HOST=127.0.0.1
SERVICE_PORT=62050
API_PORT=62051
SERVICE_PROTOCOL=grpc
SSL_CERT_FILE=
SSL_KEY_FILE=

DOCTOR_DEV_NODE_DATA_DIR=./data/node
DOCTOR_DEV_NODE_LOG_DIR=./logs/node
DOCTOR_DEV_NODE_LOG_FILE=./logs/node/node.log
DEBUG=false
PYTHON_LOG_LEVEL=INFO
UVICORN_LOG_LEVEL=info
